.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.play-wrap-window {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #ffffff url("./assets/bg.png") no-repeat right top;
  background-size: contain;
  width: 1000px;
  height: 500px;

  .ad-banner {
    width: 500px;
    margin-bottom: 20px;
  }
  
  .play-wrap-window-shadow {
    z-index: 1;
    position: absolute;
    width: 800px;
    height: 200px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px #000000;
  }

  .turn-btn {
    cursor: pointer;
    background: #ffffff url("./assets/startBtn.png") no-repeat right top;
    width: 95px;
    height: 36px;
    margin-top: 10px;
    &:hover {
      background: #ffffff url("./assets/startBtn-active.png") no-repeat right top;
    }
  }
}


.play-wrap-show {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
}


.gift-container {
  $height: var(--height);
  $width: var(--width);
  $fontSize: var(--fontSize);
  $currentDeg: var(--currentDeg);
  $targetDeg: var(--targetDeg);
  $rollBackDeg: var(--rollBackDeg);
  $duration: var(--duration);
  * {
      box-sizing: border-box;
  }
  position: relative;
  display: flex;
  align-items: center;
  margin-right: $width;

  position: relative;
  perspective: 999999px;
  user-select: none;
  transform-style: preserve-3d;
  .gift {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $width;
      height: $height;
      border-right: 1px solid rgb(241, 61, 61);
      border-left: 1px solid rgb(241, 61, 61);
      background-image: linear-gradient(to right, #fffeea , rgb(255, 255, 142), #fffeea);
      font-size: $fontSize;
  }

  &.flat {
    transform: rotateX($currentDeg);
    &.autoTurn {
      transition: $duration ease-in-out;
      transform: rotateX($targetDeg);
    }
  }
    
}